In [26]:
# Standard DS imports
import numpy as np
import pandas as pd

# dataset
from pydataset import data

# db_connection
import acquire

### 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

- print the first 3 rows
- print the number of rows and columns (shape)
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables

In [4]:
# Create dataframe for iris data
df_iris = data('iris')

In [5]:
# print the first 3 rows
print(df_iris.head(3))

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [6]:
#print the number of rows and columns (shape)
print(df_iris.shape[0],df_iris.shape[1])

150 5

In [7]:
#print the column names
[print(col) for col in df_iris.columns]

Sepal.Length
Sepal.Width
Petal.Length
Petal.Width
Species

[None, None, None, None, None]

In [8]:
# print the data type of each column
[print(col, '- datatype: ', df_iris[col].dtype) for col in df_iris.columns]

Sepal.Length - datatype:  float64
Sepal.Width - datatype:  float64
Petal.Length - datatype:  float64
Petal.Width - datatype:  float64
Species - datatype:  object

[None, None, None, None, None]

In [9]:
# print the summary statistics for each of the numeric variables
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 5. Read the data from this google sheet into a dataframe, df_google.

- print the first 3 rows
- print the number of rows and columns
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables
- print the unique values for each of your categorical variables

In [10]:
# Read data from Google Sheet:

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [11]:
# Use pd.read_csv to create dataframe from the csv exported from google doc
df_google = pd.read_csv(csv_export_url)

In [12]:
# print the first 3 rows
print(df_google.head(3))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

In [13]:
# print the number of rows and columns
print(df_google.shape)

(891, 12)

In [14]:
# print the column names
print(df_google.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [15]:
# print the data type of each column
print(df_google.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [16]:
# print the summary statistics for each of the numeric variables
print(df_google.describe(include=np.number))

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [17]:
# print the unique values for each of your categorical variables

### 6. Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

- assign the first 100 rows to a new dataframe, df_excel_sample
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of object
- compute the range for each of the numeric variables.

In [18]:
# download file to excel
df_google.to_excel("df_excel.xlsx")

In [19]:
# Read into dataframe from excel
df_excel = pd.read_excel("df_excel.xlsx", index_col=0)

In [20]:
# assign the first 100 rows to a new dataframe, df_excel_sample
df_excel_sample = df_excel.head(100)

In [21]:
# print the number of rows of your original dataframe
print(len(df_excel))

891

In [22]:
# print the first 5 column names
print(df_excel.columns[0:5])

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [23]:
# print the column names that have a data type of object
[print(col) for col in df_excel.select_dtypes(include=['object'])]

Name
Sex
Ticket
Cabin
Embarked

[None, None, None, None, None]

In [24]:
# compute the range for each of the numeric variables.
range_list = [()]
for col in df_excel.select_dtypes(include=np.number):
    range_list.append((min(df_excel[col]), max(df_excel[col])))
range_list[1:]

[(1, 891), (0, 1), (1, 3), (0.42, 80.0), (0, 8), (0, 6), (0.0, 512.3292)]

# Data Preperation: Exercises

### Using the Iris Data:

1. Use the function defined in acquire.py to load the iris data.
2. Drop the species_id and measurement_id columns.
3. Rename the species_name column to just species.
4. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).
5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [44]:
# Use the function defined in acquire.py to load the iris data.
df = acquire.get_iris_data('iris_db')

In [45]:
acquire.get_telco_data('telco_churn')

,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
payment_type_id,,,,,,,,,,,,,,,,,,,,,
2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,No,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,No,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,No,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,No,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [43]:
# Drop the species_id and measurement_id columns
df.columns
#df.drop(columns=['species_id', 'measurement_id'])

Index(['measurement_id', 'sepal_length', 'sepal_width', 'petal_length',
       'petal_width', 'species_name'],
      dtype='object')

### Using the Titanic dataset:

1. Use the function defined in acquire.py to load the Titanic data.
2. Drop any unnecessary, unhelpful, or duplicated columns.
3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.
4. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

### Using the Telco dataset:

1. Use the function defined in acquire.py to load the Telco data.
2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.
3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.
4. Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

### Split your data:

1. Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.
2. Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.
3. Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.
4. Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.