In [804]:
# Standard DS imports
import numpy as np
import pandas as pd

# dataset
from pydataset import data

# viz
import matplotlib.pyplot as plt

# db_connection
import acquire

### 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

- print the first 3 rows
- print the number of rows and columns (shape)
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables

In [805]:
# Create dataframe for iris data
df_iris = data('iris')

In [806]:
# print the first 3 rows
print(df_iris.head(3))

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [807]:
#print the number of rows and columns (shape)
print(df_iris.shape[0],df_iris.shape[1])

150 5

In [808]:
#print the column names
[print(col) for col in df_iris.columns]

Sepal.Length
Sepal.Width
Petal.Length
Petal.Width
Species

[None, None, None, None, None]

In [809]:
# print the data type of each column
[print(col, '- datatype: ', df_iris[col].dtype) for col in df_iris.columns]

Sepal.Length - datatype:  float64
Sepal.Width - datatype:  float64
Petal.Length - datatype:  float64
Petal.Width - datatype:  float64
Species - datatype:  object

[None, None, None, None, None]

In [810]:
# print the summary statistics for each of the numeric variables
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 5. Read the data from this google sheet into a dataframe, df_google.

- print the first 3 rows
- print the number of rows and columns
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables
- print the unique values for each of your categorical variables

In [811]:
# Read data from Google Sheet:

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [812]:
# Use pd.read_csv to create dataframe from the csv exported from google doc
df_google = pd.read_csv(csv_export_url)

In [813]:
# print the first 3 rows
print(df_google.head(3))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

In [814]:
# print the number of rows and columns
print(df_google.shape)

(891, 12)

In [815]:
# print the column names
print(df_google.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [816]:
# print the data type of each column
print(df_google.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [817]:
# print the summary statistics for each of the numeric variables
print(df_google.describe(include=np.number))

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

### 6. Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

- assign the first 100 rows to a new dataframe, df_excel_sample
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of object
- compute the range for each of the numeric variables.

In [818]:
# download file to excel
df_google.to_excel("df_excel.xlsx")

In [819]:
# Read into dataframe from excel
df_excel = pd.read_excel("df_excel.xlsx", index_col=0)

In [820]:
# assign the first 100 rows to a new dataframe, df_excel_sample
df_excel_sample = df_excel.head(100)

In [821]:
# print the number of rows of your original dataframe
print(len(df_excel))

891

In [822]:
# print the first 5 column names
print(df_excel.columns[0:5])

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [823]:
# print the column names that have a data type of object
[print(col) for col in df_excel.select_dtypes(include=['object'])]

Name
Sex
Ticket
Cabin
Embarked

[None, None, None, None, None]

In [824]:
# compute the range for each of the numeric variables.
range_list = [()]
for col in df_excel.select_dtypes(include=np.number):
    range_list.append((min(df_excel[col]), max(df_excel[col])))
range_list[1:]

[(1, 891), (0, 1), (1, 3), (0.42, 80.0), (0, 8), (0, 6), (0.0, 512.3292)]

# Data Preperation: Exercises

In [825]:
from sklearn.model_selection import train_test_split

### Using the Iris Data:

1. Use the function defined in acquire.py to load the iris data.
2. Drop the species_id and measurement_id columns.
3. Rename the species_name column to just species.
4. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).
5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [826]:
# Use the function defined in acquire.py to load the iris data.
df = acquire.get_iris_data('iris_db')

In [827]:
# Drop duplicate columns
df = df.drop_duplicates()

In [828]:
# Drop the species_id and measurement_id columns
df = df.drop(columns=['species_id', 'measurement_id'])
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species_name'],
      dtype='object')

In [829]:
# Rename the species_name column to just species
df = df.rename(columns={'species_name': 'species'})

In [830]:
# Create dummy variables of the species name
dummy_df = pd.get_dummies(df[['species']], drop_first=True, dtype=int)

In [831]:
# Concat dummy_df onto our dataframe
df_iris = pd.concat([df, dummy_df], axis=1)

In [832]:
# Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

def prep_iris(df):
    '''
    This function will drop any duplicate observations, 
    drop ['deck', 'embarked', 'class', 'age'],
    and create dummy vars from sex and embark_town. 
    '''
    df = df.drop_duplicates()
    df = df.drop(columns=['species_id', 'measurement_id'])
    df = df.rename(columns={'species_name': 'species'})
    dummy_df = pd.get_dummies(df[['species']], drop_first=True, dtype=int)
    df_iris = pd.concat([df, dummy_df], axis=1)
    return df_iris

In [833]:
fresh_iris = acquire.get_iris_data('iris_db')

In [834]:
prep_iris(fresh_iris)

,sepal_length,sepal_width,petal_length,petal_width,species,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0
5,5.4,3.9,1.7,0.4,setosa,0,0
6,4.6,3.4,1.4,0.3,setosa,0,0
7,5.0,3.4,1.5,0.2,setosa,0,0
8,4.4,2.9,1.4,0.2,setosa,0,0
9,4.9,3.1,1.5,0.1,setosa,0,0
10,5.4,3.7,1.5,0.2,setosa,0,0
11,4.8,3.4,1.6,0.2,setosa,0,0
12,4.8,3.0,1.4,0.1,setosa,0,0
13,4.3,3.0,1.1,0.1,setosa,0,0
14,5.8,4.0,1.2,0.2,setosa,0,0
15,5.7,4.4,1.5,0.4,setosa,0,0
16,5.4,3.9,1.3,0.4,setosa,0,0
17,5.1,3.5,1.4,0.3,setosa,0,0
18,5.7,3.8,1.7,0.3,setosa,0,0
19,5.1,3.8,1.5,0.3,setosa,0,0
20,5.4,3.4,1.7,0.2,setosa,0,0
21,5.1,3.7,1.5,0.4,setosa,0,0
22,4.6,3.6,1.0,0.2,setosa,0,0
23,5.1,3.3,1.7,0.5,setosa,0,0
24,4.8,3.4,1.9,0.2,setosa,0,0
25,5.0,3.0,1.6,0.2,setosa,0,0
26,5.0,3.4,1.6,0.4,setosa,0,0
27,5.2,3.5,1.5,0.2,setosa,0,0
28,5.2,3.4,1.4,0.2,setosa,0,0
29,4.7,3.2,1.6,0.2,setosa,0,0
30,4.8,3.1,1.6,0.2,setosa,0,0
31,5.4,3.4,1.5,0.4,setosa,0,0
32,5.2,4.1,1.5,0.1,setosa,0,0
33,5.5,4.2,1.4,0.2,setosa,0,0
34,4.9,3.1,1.5,0.2,setosa,0,0
35,5.0,3.2,1.2,0.2,setosa,0,0
36,5.5,3.5,1.3,0.2,setosa,0,0
37,4.9,3.6,1.4,0.1,setosa,0,0
38,4.4,3.0,1.3,0.2,setosa,0,0
39,5.1,3.4,1.5,0.2,setosa,0,0
40,5.0,3.5,1.3,0.3,setosa,0,0
41,4.5,2.3,1.3,0.3,setosa,0,0
42,4.4,3.2,1.3,0.2,setosa,0,0
43,5.0,3.5,1.6,0.6,setosa,0,0
44,5.1,3.8,1.9,0.4,setosa,0,0
45,4.8,3.0,1.4,0.3,setosa,0,0
46,5.1,3.8,1.6,0.2,setosa,0,0
47,4.6,3.2,1.4,0.2,setosa,0,0
48,5.3,3.7,1.5,0.2,setosa,0,0
49,5.0,3.3,1.4,0.2,setosa,0,0
50,7.0,3.2,4.7,1.4,versicolor,1,0
51,6.4,3.2,4.5,1.5,versicolor,1,0
52,6.9,3.1,4.9,1.5,versicolor,1,0
53,5.5,2.3,4.0,1.3,versicolor,1,0
54,6.5,2.8,4.6,1.5,versicolor,1,0
55,5.7,2.8,4.5,1.3,versicolor,1,0
56,6.3,3.3,4.7,1.6,versicolor,1,0
57,4.9,2.4,3.3,1.0,versicolor,1,0
58,6.6,2.9,4.6,1.3,versicolor,1,0
59,5.2,2.7,3.9,1.4,versicolor,1,0
60,5.0,2.0,3.5,1.0,versicolor,1,0
61,5.9,3.0,4.2,1.5,versicolor,1,0
62,6.0,2.2,4.0,1.0,versicolor,1,0
63,6.1,2.9,4.7,1.4,versicolor,1,0
64,5.6,2.9,3.6,1.3,versicolor,1,0
65,6.7,3.1,4.4,1.4,versicolor,1,0
66,5.6,3.0,4.5,1.5,versicolor,1,0
67,5.8,2.7,4.1,1.0,versicolor,1,0
68,6.2,2.2,4.5,1.5,versicolor,1,0
69,5.6,2.5,3.9,1.1,versicolor,1,0
70,5.9,3.2,4.8,1.8,versicolor,1,0
71,6.1,2.8,4.0,1.3,versicolor,1,0
72,6.3,2.5,4.9,1.5,versicolor,1,0
73,6.1,2.8,4.7,1.2,versicolor,1,0
74,6.4,2.9,4.3,1.3,versicolor,1,0
75,6.6,3.0,4.4,1.4,versicolor,1,0
76,6.8,2.8,4.8,1.4,versicolor,1,0
77,6.7,3.0,5.0,1.7,versicolor,1,0
78,6.0,2.9,4.5,1.5,versicolor,1,0
79,5.7,2.6,3.5,1.0,versicolor,1,0
80,5.5,2.4,3.8,1.1,versicolor,1,0
81,5.5,2.4,3.7,1.0,versicolor,1,0
82,5.8,2.7,3.9,1.2,versicolor,1,0
83,6.0,2.7,5.1,1.6,versicolor,1,0
84,5.4,3.0,4.5,1.5,versicolor,1,0
85,6.0,3.4,4.5,1.6,versicolor,1,0
86,6.7,3.1,4.7,1.5,versicolor,1,0
87,6.3,2.3,4.4,1.3,versicolor,1,0
88,5.6,3.0,4.1,1.3,versicolor,1,0
89,5.5,2.5,4.0,1.3,versicolor,1,0
90,5.5,2.6,4.4,1.2,versicolor,1,0
91,6.1,3.0,4.6,1.4,versicolor,1,0
92,5.8,2.6,4.0,1.2,versicolor,1,0
93,5.0,2.3,3.3,1.0,versicolor,1,0
94,5.6,2.7,4.2,1.3,versicolor,1,0
95,5.7,3.0,4.2,1.2,versicolor,1,0
96,5.7,2.9,4.2,1.3,versicolor,1,0
97,6.2,2.9,4.3,1.3,versicolor,1,0
98,5.1,2.5,3.0,1.1,versicolor,1,0
99,5.7,2.8,4.1,1.3,versicolor,1,0
100,6.3,3.3,6.0,2.5,virginica,0,1
101,5.8,2.7,5.1,1.9,virginica,0,1
102,7.1,3.0,5.9,2.1,virginica,0,1
103,6.3,2.9,5.6,1.8,virginica,0,1
104,6.5,3.0,5.8,2.2,virginica,0,1
105,7.6,3.0,6.6,2.1,virginica,0,1
106,4.9,2.5,4.5,1.7,virginica,0,1
107,7.3,2.9,6.3,1.8,virginica,0,1
108,6.7,2.5,5.8,1.8,virginica,0,1
109,7.2,3.6,6.1,2.5,virginica,0,1
110,6.5,3.2,5.1,2.0,virginica,0,1
111,6.4,2.7,5.3,1.9,virginica,0,1
112,6.8,3.0,5.5,2.1,virginica,0,1
113,5.7,2.5,5.0,2.0,virginica,0,1
114,5.8,2.8,5.1,2.4,virginica,0,1
115,6.4,3.2,5.3,2.3,virginica,0,1
116,6.5,3.0,5.5,1.8,virginica,0,1
117,7.7,3.8,6.7,2.2,virginica,0,1
118,7.7,2.6,6.9,2.3,virginica,0,1
119,6.0,2.2,5.0,1.5,virginica,0,1
120,6.9,3.2,5.7,2.3,virginica,0,1
121,5.6,2.8,4.9,2.0,virginica,0,1
122,7.7,2.8,6.7,2.0,virginica,0,1
123,6.3,2.7,4.9,1.8,virginica,0,1
124,6.7,3.3,5.7,2.1,virginica,0,1
125,7.2,3.2,6.0,1.8,virginica,0,1
126,6.2,2.8,4.8,1.8,virginica,0,1
127,6.1,3.0,4.9,1.8,virginica,0,1
128,6.4,2.8,5.6,2.1,virginica,0,1
129,7.2,3.0,5.8,1.6,virginica,0,1
130,7.4,2.8,6.1,1.9,virginica,0,1
131,7.9,3.8,6.4,2.0,virginica,0,1
132,6.4,2.8,5.6,2.2,virginica,0,1
133,6.3,2.8,5.1,1.5,virginica,0,1
134,6.1,2.6,5.6,1.4,virginica,0,1
135,7.7,3.0,6.1,2.3,virginica,0,1
136,6.3,3.4,5.6,2.4,virginica,0,1
137,6.4,3.1,5.5,1.8,virginica,0,1
138,6.0,3.0,4.8,1.8,virginica,0,1
139,6.9,3.1,5.4,2.1,virginica,0,1
140,6.7,3.1,5.6,2.4,virginica,0,1
141,6.9,3.1,5.1,2.3,virginica,0,1
142,5.8,2.7,5.1,1.9,virginica,0,1
143,6.8,3.2,5.9,2.3,virginica,0,1
144,6.7,3.3,5.7,2.5,virginica,0,1
145,6.7,3.0,5.2,2.3,virginica,0,1
146,6.3,2.5,5.0,1.9,virginica,0,1
147,6.5,3.0,5.2,2.0,virginica,0,1
148,6.2,3.4,5.4,2.3,virginica,0,1
149,5.9,3.0,5.1,1.8,virginica,0,1

### Using the Titanic dataset:

1. Use the function defined in acquire.py to load the Titanic data.
2. Drop any unnecessary, unhelpful, or duplicated columns.
3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.
4. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [835]:
df_titanic = acquire.get_titanic_data('titanic_db')

In [836]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  891 non-null    int64
 1   survived      891 non-null    int64
 2   pclass        891 non-null    int64
 3   sex           891 non-null    object
 4   age           714 non-null    float64
 5   sibsp         891 non-null    int64
 6   parch         891 non-null    int64
 7   fare          891 non-null    float64
 8   embarked      889 non-null    object
 9   class         891 non-null    object
 10  deck          203 non-null    object
 11  embark_town   889 non-null    object
 12  alone         891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 97.5+ KB

In [837]:
df_titanic = df_titanic.drop_duplicates()

In [838]:
df_titanic = df_titanic.drop(columns=['class', 'deck', 'embarked', 'age'])

In [839]:
dummy_df = pd.get_dummies(df_titanic[['sex','embark_town']], drop_first=True, dtype=int)

In [840]:
df_titanic = pd.concat([df_titanic, dummy_df], axis=1)

In [841]:
df_titanic

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,female,0,0,7.9250,Southampton,1,0,0,1
3,3,1,1,female,1,0,53.1000,Southampton,0,0,0,1
4,4,0,3,male,0,0,8.0500,Southampton,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,0,0,13.0000,Southampton,1,1,0,1
887,887,1,1,female,0,0,30.0000,Southampton,1,0,0,1
888,888,0,3,female,1,2,23.4500,Southampton,0,0,0,1
889,889,1,1,male,0,0,30.0000,Cherbourg,1,1,0,0
890,890,0,3,male,0,0,7.7500,Queenstown,1,1,1,0

In [842]:
def prep_titanic(df_titanic):
    '''
    This function will drop any duplicate observations, 
    drop ['deck', 'embarked', 'class', 'age'],
    and create dummy vars from sex and embark_town. 
    '''
    df_titanic = df_titanic.drop_duplicates()
    df_titanic = df_titanic.drop(columns=['deck', 'embarked', 'class', 'age'])
    dummy_df = pd.get_dummies(df_titanic[['sex', 'embark_town']], drop_first=True, dtype=int)
    df_titanic = pd.concat([df_titanic, dummy_df], axis=1)
    return df_titanic

In [843]:
fresh_titanic = acquire.get_titanic_data('titanic_db')

In [844]:
prep_titanic(fresh_titanic)

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,female,0,0,7.9250,Southampton,1,0,0,1
3,3,1,1,female,1,0,53.1000,Southampton,0,0,0,1
4,4,0,3,male,0,0,8.0500,Southampton,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,0,0,13.0000,Southampton,1,1,0,1
887,887,1,1,female,0,0,30.0000,Southampton,1,0,0,1
888,888,0,3,female,1,2,23.4500,Southampton,0,0,0,1
889,889,1,1,male,0,0,30.0000,Cherbourg,1,1,0,0
890,890,0,3,male,0,0,7.7500,Queenstown,1,1,1,0

### Using the Telco dataset:

1. Use the function defined in acquire.py to load the Telco data.
2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.
3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.
4. Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [845]:
df_telco = acquire.get_telco_data('telco_churn')

In [846]:
df_telco = df_telco.drop_duplicates()

In [847]:
df_telco.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     5517 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [848]:
# columns to drop: internet_service_type_id, payment_type_id, contract_type_id. 
df_telco = df_telco.drop(columns=['contract_type_id', 'payment_type_id', 'internet_service_type_id'])

In [849]:
# Create dummy variables for binary categorical variables my mapping string value to 1 and 0.
df_telco['gender_encoded'] = df_telco.gender.map({'Female': 1, 'Male':0})
df_telco['partner_encoded'] = df_telco.partner.map({'Yes':1, 'No':0})
df_telco['dependents_encoded'] = df_telco.dependents.map({'Yes':1, 'No':0})
df_telco['phone_service_encoded'] = df_telco.phone_service.map({'Yes':1, 'No':0})
df_telco['paperless_billing_encoded'] = df_telco.paperless_billing.map({'Yes':1, 'No':0})
df_telco['churn_encoded'] = df_telco.churn.map({'Yes':1, 'No':0})

In [852]:
# Create dummy variables for categorical variables with more than 2 values
dummy_df = pd.get_dummies(df_telco[['multiple_lines',
                                 'online_security',
                                 'online_backup',
                                 'device_protection', 
                                 'tech_support',
                                 'streaming_tv',
                                 'streaming_movies', 
                                 'contract_type', 
                                 'internet_service_type',
                                 'payment_type']],
                              drop_first=True)

In [853]:
df_telco = pd.concat([df_telco, dummy_df], axis=1)

In [854]:
df_telco.total_charges = df_telco.total_charges.str.replace(' ', '0').astype(float)

In [855]:
df_telco.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7042
Data columns (total 47 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customer_id                            7043 non-null   object
 1   gender                                 7043 non-null   object
 2   senior_citizen                         7043 non-null   int64
 3   partner                                7043 non-null   object
 4   dependents                             7043 non-null   object
 5   tenure                                 7043 non-null   int64
 6   phone_service                          7043 non-null   object
 7   multiple_lines                         7043 non-null   object
 8   online_security                        7043 non-null   object
 9   online_backup                          7043 non-null   object
 10  device_protection                      7043 non-null   object
 11  tech_support                           7043 non-null   object
 12  streaming_tv                           7043 non-null   object
 13  streaming_movies                       7043 non-null   object
 14  paperless_billing                      7043 non-null   object
 15  monthly_charges                        7043 non-null   float64
 16  total_charges                          7043 non-null   float64
 17  churn                                  7043 non-null   object
 18  contract_type                          7043 non-null   object
 19  internet_service_type                  5517 non-null   object
 20  payment_type                           7043 non-null   object
 21  gender_encoded                         7043 non-null   int64
 22  partner_encoded                        7043 non-null   int64
 23  dependents_encoded                     7043 non-null   int64
 24  phone_service_encoded                  7043 non-null   int64
 25  paperless_billing_encoded              7043 non-null   int64
 26  churn_encoded                          7043 non-null   int64
 27  multiple_lines_No phone service        7043 non-null   bool
 28  multiple_lines_Yes                     7043 non-null   bool
 29  online_security_No internet service    7043 non-null   bool
 30  online_security_Yes                    7043 non-null   bool
 31  online_backup_No internet service      7043 non-null   bool
 32  online_backup_Yes                      7043 non-null   bool
 33  device_protection_No internet service  7043 non-null   bool
 34  device_protection_Yes                  7043 non-null   bool
 35  tech_support_No internet service       7043 non-null   bool
 36  tech_support_Yes                       7043 non-null   bool
 37  streaming_tv_No internet service       7043 non-null   bool
 38  streaming_tv_Yes                       7043 non-null   bool
 39  streaming_movies_No internet service   7043 non-null   bool
 40  streaming_movies_Yes                   7043 non-null   bool
 41  contract_type_One year                 7043 non-null   bool
 42  contract_type_Two year                 7043 non-null   bool
 43  internet_service_type_Fiber optic      7043 non-null   bool
 44  payment_type_Credit card (automatic)   7043 non-null   bool
 45  payment_type_Electronic check          7043 non-null   bool
 46  payment_type_Mailed check              7043 non-null   bool
dtypes: bool(20), float64(2), int64(8), object(17)
memory usage: 1.6+ MB

In [856]:
def prep_telco(df_telco):
    '''
    This function will drop any duplicate observations, 
    drop ['contract_type_id', 'payment_type_id', 'internet_service_type_id'], create dummy vars from all categorical variables, and change dtype of total_charges to float. 
    '''
    df_telco = df_telco.drop_duplicates()
    df_telco = df_telco.drop(columns=['contract_type_id', 'payment_type_id', 'internet_service_type_id'])

    df_telco['gender_encoded'] = df_telco.gender.map({'Female': 1, 'Male':0})
    df_telco['partner_encoded'] = df_telco.partner.map({'Yes':1, 'No':0})
    df_telco['dependents_encoded'] = df_telco.dependents.map({'Yes':1, 'No':0})
    df_telco['phone_service_encoded'] = df_telco.phone_service.map({'Yes':1, 'No':0})
    df_telco['paperless_billing_encoded'] = df_telco.paperless_billing.map({'Yes':1, 'No':0})
    df_telco['churn_encoded'] = df_telco.churn.map({'Yes':1, 'No':0})

    dummy_df = pd.get_dummies(df_telco[['multiple_lines',
                                     'online_security',
                                     'online_backup',
                                     'device_protection', 
                                     'tech_support',
                                     'streaming_tv',
                                     'streaming_movies', 
                                     'contract_type', 
                                     'internet_service_type',
                                     'payment_type']],
                                  drop_first=True)

    df_telco['total_charges'] = df_telco.total_charges.str.replace(' ', '0').astype(float)

    df_telco = pd.concat([df_telco, dummy_df], axis=1)
    
    return df_telco

In [857]:
fresh_telco = acquire.get_telco_data('telco_churn')

In [858]:
prep_telco(fresh_telco)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,False,True,False,False,True,False,False,False,False,True
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,False,False,False,True,False,False,False,False,False,True
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,False,False,False,False,False,False,True,False,True,False
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,False,True,False,True,False,False,True,False,True,False
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,False,True,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,Yes,No,...,False,False,False,False,True,False,False,False,False,True
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,No,No,...,False,False,False,True,False,False,True,False,True,False
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,No,Yes,...,False,False,False,False,False,False,False,False,False,True
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,Yes,No,...,False,False,False,True,False,True,False,False,False,True
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,...,False,True,False,True,False,True,False,False,True,False

### Split your data:

1. Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.
2. Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.
3. Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.
4. Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

In [859]:
def split_function(df, target_varible):
    train, test = train_test_split(df,
                                   random_state=123,
                                   test_size=.20,
                                   stratify= df[target_varible])
    
    train, validate = train_test_split(train,
                                   random_state=123,
                                   test_size=.25,
                                   stratify= train[target_varible])
    return train, validate, test

In [860]:
train_iris, validate_iris, test_iris = split_function(df_iris, 'species')

In [861]:
print(f'Prepared df: {df_iris.shape}')
print()
print(f'Train: {train_iris.shape}')
print(f'Validate: {validate_iris.shape}')
print(f'Test: {test_iris.shape}')

Prepared df: (150, 7)

Train: (90, 7)
Validate: (30, 7)
Test: (30, 7)

In [862]:
train_titanic, validate_titanic, test_titanic = split_function(df_titanic, 'survived')

In [863]:
print(f'Prepared df: {df_titanic.shape}')
print()
print(f'Train: {train_titanic.shape}')
print(f'Validate: {validate_titanic.shape}')
print(f'Test: {test_titanic.shape}')

Prepared df: (891, 12)

Train: (534, 12)
Validate: (178, 12)
Test: (179, 12)

In [864]:
train_telco, validate_telco, test_telco = split_function(df_telco, 'churn')

In [865]:
print(f'Prepared df: {df_telco.shape}')
print()
print(f'Train: {train_telco.shape}')
print(f'Validate: {validate_telco.shape}')
print(f'Test: {test_telco.shape}')

Prepared df: (7043, 47)

Train: (4225, 47)
Validate: (1409, 47)
Test: (1409, 47)